.empty {
  &__container {
    height: 150px;
  }
  &__image {
    width: 130px;
  }
}
.table {
  &__container {
    min-height: 180px;
  }
  &__item {
    &--button {
      padding-right: 0 !important;
      max-width: 100px;
    }
  }
  &__item {
    transition: all 0.5s ease-out;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      cursor: pointer;
    }
  }
}
