<div class="wrapper">
  <div class="search">
    <div class="search__body">
      <form (ngSubmit)="search()">
        <div class="row">
          <div class="my-1" fxFlex="33%" fxFlex.sm="grow" fxFlex.xs="grow">
            <input [(ngModel)]="searchParams.name" type="text" name="name" class="form-control" placeholder="name" />
          </div>
          <div class="my-1" fxFlex="33%" fxFlex.sm="grow" fxFlex.xs="grow">
            <input [(ngModel)]="searchParams.job" type="text" name="job" class="form-control" placeholder="job" />
          </div>
          <div class="my-1" fxFlex="33%" fxFlex.sm="grow" fxFlex.xs="grow">
            <input [(ngModel)]="searchParams.email" type="text" name="email" class="form-control" placeholder="email" />
          </div>
          <div class="my-3" fxFlex="grow" fxLayoutAlign="space-between">
            <button routerLink="/add-user" type="button" class="btn btn-primary" >Add New User</button>
            <div>
              <button class="btn btn-warning" type="submit">Search</button>
              <button class="btn btn-secondary mx-1" type="button" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table__container mat-elevation-z8">
    <table mat-table [dataSource]="userList" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{trim(element.name)}}</td>
      </ng-container>
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef>Job</th>
        <td mat-cell *matCellDef="let element">{{trim(element.job)}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{trim(element.email)}}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef fxShow.xs="false" fxShow="true">Phone Number</th>
        <td mat-cell *matCellDef="let element" fxShow.xs="false" fxShow="true">{{trim(element.phone)}}</td>
      </ng-container>
      <ng-container matColumnDef="operation">
        <th [style.padding-right]="0" mat-header-cell *matHeaderCellDef fxShow.xs="false" fxShow="true">Operation</th>
        <td [style.padding-right]="0" mat-cell *matCellDef="let element" fxShow.xs="false" fxShow="true">
          <button (click)="goToEdit(element.id, $event)" type="button" class="btn btn-success">Edit</button>
          <button (click)="deleteUser(element.id, $event)" type="button" class="btn btn-danger mx-1">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="goToDetail(user)"
        *matRowDef="let user; columns: displayedColumns;"
        class="table__item"
      ></tr>
    </table>
    <div class="table__container " *ngIf="showSpin || userList.length === 0" fxLayoutAlign="center center">
      <app-spin [show]="showSpin"></app-spin>
      <div class="empty__container" *ngIf="!showSpin && userList.length === 0">
        <img class="empty__image" src="/assets/no_data.png" alt="no data">
      </div>
    </div>
  </div>
</div>
