.form {
  &__container {
    max-width: 900px;
    margin: 20px auto;
  }
  &__select {
    padding: 7px;
    border: 1px solid #d5e1f3;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-size: 16px;
    &--wrapper {
      position: relative;
    }
    &--item {
      &:focus {
        outline: none;
        background: #49a1ff;
        border-color: #49a1ff;
      }
    }
  }
}
